<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>message</title>
  </head>
  <body>
    <p><%= message %></p>
    <form action="/" method="POST">
      <input type="text" name="message" />
      <button type="submit">送信</button>
    </form>
  </body>
</html>
